<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8"/>
<meta name="description" content="{{desc}}"/>
<meta name="keywords" content="{{keywords}}"/>
<meta name="author" content="spinpi.com"/>
